.team
  .big_team_name
    = @team.name
  - if current_user.coach?
    %div
      = link_to "Add Play", new_team_play_path(@team), class: "link"
    %div
      = link_to "Add players", new_team_player_invites_path(@team), class: "link"
