= form_for :session, url: session_path do |form|
  %div
    = form.email_field :email, placeholder: "Email", size: 30
  %div
    = form.password_field :password, placeholder: "Password", size: 30
  %div
    = form.submit "Sign In", class: "sign_in_button"
