- content_for :welcome do
  .welcome_images
    .welcome_image
      = image_tag "high_school_huddle.jpg", class: "left_image", height: "400px"
    .welcome_image
      = image_tag "soccer_win_huddle.jpg", class: "middle_image", height: "400px"
    .welcome_image
      = image_tag "informal_sports_huddle.jpg", class: "right_image", height: "400px"
  %h1.welcome
    Securely share your playbook with your team
