.play_form
  = form_for [@team, @play] do |form|
    .play_name_form
      = form.text_field :name, placeholder: "Name"
    .play_description_form
      = form.text_area :description, placeholder: "Description"
    %div
      = form.submit "Add play", class: "play_submit_button"
