<p>You are invited to join <%= @sign_up_token.team %>, on Playbookr!</p>
<p>Simply click <%= link_to "this link", @url %>, and enter the token into the token field.</p>
<p>Token: <%= @sign_up_token.token %></p>
