= video_tag video.file, id: "video_#{video.id}", width: "600px", height: "337px", class: "video-js vjs-default-skin vjs-my-skin", "controls preload" => "auto", "data-setup" =>'{"example_option":true}'
