= form_for :players, url: team_player_invites_path(@team) do |form|
  .emails
    = form.label "Separate emails by spaces to invite your players"
    = form.text_area :emails, placeholder: "player@playbookr.us captain@playbookr.us"
  .email_button
    = form.submit "Send Email Invites", class: "email_invite_button"
