$brand-color: #14100f;
$brand-hover-color: grey;
$nav-background-color: snow;
$green-site: #004600;
$link-color: $brand-color;
$link-hover-color: $brand-hover-color;
$site-background-color: $nav-background-color;
$gw-column: 100px;
$gw-gutter: 150px;
