@import "_site.css.scss";

.content_layout {
  display: block;
  background-color: $site-background-color;
  border-radius: 5px;
  @include outer-container;
  margin-top: 40px;
  height: 100%;
}


.link {
  color: $green-site;
  &:hover {
    color: darken($green-site, 10);
    text-decoration: underline;
  }
}

.small {
  display: inline-block;
  margin-left: 10px;
}
