@import "_site.css.scss";
.navigation{
  margin-top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: $nav-background-color;

  nav {
    padding-top: 10px;
    padding-bottom: 10px;
    @include outer-container;

    ul {
      list-style-type: none;
      display: inline-block;
      float: right;
      margin: 0;
      bottom: 0;
      margin-top: 10px;

      li {
        display: inline-block;
      }
    }
  }

  .brand {
    font-family: "Droid Sans Mono", monaco;
    font-size: 1.75em;
    color: $brand-color;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    &:hover {
      color: $brand-hover-color;
    }
  }

  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: $link-hover-color;
    }
  }
}
