@import "_site.css.scss";

.play_name {
  font-size: 2em;
  color: $green-site;
  padding: 10px;
}

.play_description {
  padding: 10px;
  color: $green-site;
}


.medium {
  border-top: 1px solid $green-site;
  margin: 5px 10px 0 10px;
  padding-top: 5px;
}

#play_comments {
  border-top: 1px solid $green-site;
  margin: 0 10px 0 10px;
}
